body {
  font-family: "Montserrat", sans-serif;
  margin: 0%;
  color: dimgray;
}
section {
  height: 500px;
  padding-bottom: 150px;
}

.half-width img {
  width: 110%;
}
.link-button {
  text-decoration: none;
  padding: 10px 25px;
  background-image: linear-gradient(40deg, orange, tomato 100%);
  border-radius: 30px;
  color: white;
}
.half-width {
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
  float: left;
}
.half-width span {
  color: orange;
}
.half-width h1 {
  color: #504e4e;
  font-weight: 2000;
  font-size: 60px;
  padding-top: 20%;
}
.link-order {
  padding-top: 5%;
}
div .about-img {
  width: 50%;
  padding-top: 5%;
}
.about-area {
  background-image: url("images/shapes/7.png");
  background-size: cover;
  margin-top: 10%;
  background-repeat: no-repeat;
}
.about-p {
  font-size: 25px;
}
.recipie-p{
  text-align: center;    
}
.recipie{
  text-align: center;
}
.half-width h2{
  color: black;
  font-weight: bold;
}
.card img{
  width: 95%;  
  position:relative;
  padding-top: 5%;
}
.recipie-area .half-width{
 box-shadow: 1px 2px 10px;
 border-radius: 30px;
 padding-bottom: 2%;
 margin-top: 2%;

}
.recipie-area{
  padding-top: 5%;
}

.float-child{  
  float: left;
  width: 20%;  
  padding: 25px;
  text-align: center; 
  box-shadow: 0px 4px 1px;
  background-color: white;
}

.like-area h1{
  color: black;
  font-weight: bold;
}
footer{
  background-color:  #0B0D17;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 7%;
}
footer h1{
  text-align: center;
  padding-top: 2%;
}
footer span{
  color: orange;
}
footer p{
  text-align: center;
  color: white;
  font-size: large;
  padding-top: 2%;
}
.float-parent{
  padding-top: 20%;
  padding-left: 20%;
}
